@using MvcOnlineTİcariOtomasyon.Models.Siniflar
@model List<Faturalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="container-fluid">
    <h1 class="mt-4">Fatura Yönetimi</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Rapor & Faturalar</li>
        <li class="breadcrumb-item"><a href="#">Faturalar</a></li>

    </ol>
</div>
<table class="table table-bordered" style="margin-top:20px;">
    <tr>

        <th>Seri-Sıra No</th>
        <th>Vergi Dairesi</th>
        <th>Tarih</th>
        <th>Saat</th>
        <th>Teslim Eden</th>
        <th>Teslim Alan</th>
        <th>Toplam</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        <th>Yeni Kalem</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>@item.FaturaSeriNo - @item.FaturaSıraNo</td>
            <td>@item.VergiDairesi</td>
            <td>@item.FaturaTarih.ToString("dd/MM/yyyy")</td>
            <td>@item.Saat</td>
            <td>@item.TeslimEden</td>
            <td>@item.TeslimAlan</td>
            <td>@item.Toplam ₺</td>
            <td>
                <a class="btn  btn-sm" href="/Fatura/FaturaGuncelle/@item.FaturaID" style="background-color: #28a745; color: white;">
                    <i class="fas fa-pencil-alt">   </i><br />
                    Güncelle
                </a>
            </td>
            <td>
                <a class="btn  btn-sm" href="/Fatura/FaturaDetay/@item.FaturaID" style="background-color: #ffc107; color: white;">
                    <i class="fas fa-info-circle"></i><br />
                    Detaylar
                </a>
            </td>
            <td>
                <a class="btn btn-sm" href="/Fatura/FaturaDetay/@item.FaturaID" style="background-color: #fd7e14; color: white;">
                    <i class="fas fa-list-alt"></i>
                    <br />
                    Yeni Kalem
                </a>
            </td>




        </tr>
    }
</table>
<a class="btn btn-primary" href="/Fatura/FaturaEkle">Yeni Fatura Girişi</a>
<br />
<br />
<button type="button" class="btn btn-primary" style="background-color:darkcyan" data-toggle="modal" data-target="#Modal1">Popup Penceresi</button>
<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="note-modal-title">Popup Dialog Ekranı</h2>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-bordered">
                    <tr>
                        <td>Seri No</td>
                        <td>Sıra No</td>
                        <td>Tutar</td>
                    </tr>

                    @foreach (var x in Model)
                    {
                        <tr>
                            <td>@x.FaturaSeriNo</td>
                            <td>@x.FaturaSıraNo</td>
                            <td>@x.Toplam ₺</td>
                        </tr>
                    }

                </table>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Tamam</button>
            </div>
        </div>
    </div>
</div>